<!doctype html>
<html ng-app="bestTodo">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="core.js"></script>
    <title>Best todo list</title>
</head>
<body ng-controller="mainController">
<div class="container">

    <div class="text-center">
        <h1>Best todo list</h1>
        <div class="label label-mini label-warning">now you have {{ todos.length }} todos in your list</div>
    </div>

    <div id="todo-list" class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="text-center">
                <a href="#" class="glyphicon glyphicon-star btn btn-info btn-mini"
                   ng-click="query = ''">all</a>
                <a href="#" class="glyphicon glyphicon-ok btn btn-info btn-mini"
                   ng-click="query = {done: true}">done</a>
                <a href="#" class="glyphicon glyphicon-time btn btn-info btn-mini"
                   ng-click="query = {done: false}">todo</a>
                <a href="#" class="glyphicon glyphicon-sort btn btn-info btn-mini"
                   ng-click="reverse =! reverse">sort</a>
            </div>
            <table class="table table-striped">
                    <tr ng-repeat="todo in todos | filter: query | orderBy: 'text': reverse">
                        <td><span ng-class="{'done': todo.done == 1, '': todo.done == 0}">{{ todo.text }}</span></td>
                        <td><input type="button" class="btn btn-mini"
                                   ng-class="{'btn-warning': todo.done == 0, 'btn-success': todo.done == 1}"
                                   ng-click="updateTodo(todo._id)" value="done: {{todo.done}}"></td>
                        <td><input type="button" class="btn btn-danger btn-mini" ng-click="deleteTodo(todo._id)"
                                   value="del"></td>
                    </tr>
            </table>
        </div>
    </div>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="type new todo here"
                           ng-model="formData.text">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="createTodo()">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>